<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>@ViewData["Title"] - Isotralis</title>

        <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
        <link rel="icon" href="@Url.Content("~/img/Susquehanna.png")" />

        @await RenderSectionAsync("Styles", required: false)
    </head>
    <body>
        <header class="border-bottom">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand fw-bold fs-4" asp-controller="Home" asp-action="Index">Isotralis</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-sm-between" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                @* <a class="nav-link @("KeyTrack".Equals(ViewContext.RouteData.Values["area"]?.ToString(), StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty)" asp-area="KeyTrack" asp-controller="Home" asp-action="Index">KeyTrack</a> *@
                            </li>

                            <li class="nav-item">
                                @* <a class="nav-link @("FanTrack".Equals(ViewContext.RouteData.Values["area"]?.ToString(), StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty)" asp-area="FanTrack" asp-controller="Home" asp-action="Index">FanTrack</a> *@
                            </li>

                            <li class="nav-item">
                                @* <a class="nav-link @("VacuumTrack".Equals(ViewContext.RouteData.Values["area"]?.ToString(), StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty)" asp-area="VacuumTrack" asp-controller="Home" asp-action="Index">VacuumTrack</a> *@
                            </li>
                        </ul>

                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="d-flex align-items-center gap-3">
                            <span>Signed in as: @User.Identity!.Name - @User.Claims.FirstOrDefault(static c => c.Type.Equals(System.Security.Claims.ClaimTypes.NameIdentifier))?.Value</span>

                            <form asp-controller="Account" asp-action="Logout" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-outline-primary rounded">Logout</button>
                            </form>
                        </div>
                    }
                    </div>
                </div>
            </nav>
        </header>

        <main role="main">
            <div class="container">
                @RenderBody()
            </div>
        </main>

        <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")" ></script>
        <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")" ></script>
        <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>